#li2{
background-color:rgba(102,102,102,1);	
}

*{
	padding:0px;
	margin:0px;
	text-decoration:none;
}

#conten{
	width:930px;
	text-align:center;
	overflow:hidden;	
}

#contenNavegadores, #contenFomrNuevaTarea {
	text-align:center;
	background-color:rgba(204,204,204,1);
	width:100%;
}

#todoIframe{
min-height:70px; 
background-color:rgba(204,204,204,1);	
}

#contenNavegadores > *{
	display:inline-table;	
}




#contenInfoFecha > *{
	display:inline-table;	
}

#ContenInfoMes:hover .dvUl, #contenInfoAnio:hover .dvUl{
	display:block;
}

.dvUl{
	position:absolute;
	text-align:left;
	display:none;
	margin-top:-10px;
	margin-left:5px;
	background-color:rgba(51,51,51,0.8);
	box-shadow:0px 0px 15px #000000;
	z-index:1;
	
	
}

.lis{
	padding:4px;
	padding-right:10px;
	padding-left:10px;
	cursor:pointer;
	color:rgba(255,255,255,1);	
}

.lis:hover{
	background-color:#09F;
}

.itemSelect>*{
	display:inline-table;
	
}
.itemSelect{
	padding:10px;
	padding-top:0px;
}

.FlechaAbajo{
	width:30px;
	height:30px;
	position:relative;
	top:10px;
	background-image:url(../../imagenes/iconoAbajo.png);
	background-size:100% 100%;
	
}

.btnNavegadores{
	width:20px;
	height:20px;
	position:relative;
	top:5px;
	background-size:100% 100%;
	border-radius:50px;
	cursor:pointer;	
}

.btnNavegadores:hover{
	box-shadow:0px 0px 15px #FFFFFF;	
}

#navMeseIzq{
	background-image:url(../../imagenes/flechaIzquierda.png);	
}
#navMeseDer{
	background-image:url(../../imagenes/flechaDerecha.png);	
}

#ContenTablareservas{
	width:930px;
	overflow:hidden;	
}

.tablasReservas{
	width:100%;	
}
.trDias{
	background-color:#FFF;
	font-size:24px;
	color:#06F;	
}

.trDias td{
	width:14%;
	background-color:#09F;
	color:rgba(0,0,0,1);
}



.cuadros{
	width:930px;
	position:relative;
}

.tablasReservas tr td{
	padding-bottom:10px;
	padding-top:10px;
	border:1px solid;
	font-size:20px;
	max-height:30px;
}



.tdAntes,.tdDespues{
	background-color:rgba(153,153,153,1);	
}


.tdTieneAhoraEvaluación, .dvEvaluacion{
	background-color:rgba(255,0,0,0.5);
}

.tdTieneAhoraTarea, .dvTareas{
	background-color:rgba(255,204,0,0.8);
}

.tdTieneAhoraClase, .dvClases{
	background-color:rgba(0,153,102,1);	
}


.dvClases, .dvTareas, .dvEvaluacion{
	color:rgba(102,102,102,1);
	border-bottom:1px solid;	
}

.dvTareas{
	color:rgba(51,51,51,1);
	cursor:pointer;	
	
}

.tdTieneAhoraClase div, .dvClases, .tdTieneAhoraTarea div, .tdTieneAhoraEvaluación div, .dvEvaluacion{
	color:rgba(255,255,255,1);
	cursor:pointer;	
}

.tdTieneAhoraTarea div:hover, .tdTieneAhoraClase div:hover{
	text-decoration:underline;	
}

.tdAhora{
	background-color:rgba(255,255,255,1);	
}




.sinReservaAntes, .sinReservaSiguiente{
	background-color:#CCC;	
}
.sinReservaMes{
	background-color:#FFF;
}







.btns{
    padding:2px;
	background-color:rgba(0,102,153,1);
	color:rgba(255,255,255,1);
	border-radius:3px;
	text-decoration:none;
	border:0px solid;
	cursor:pointer;		
}

.btns:hover{
	background-color:rgba(102,102,102,1);	
}

#contenResultadosTareas{
	position:absolute;
	left:0px;
	top:0px;
	z-index:10;
	display:none;
}

#resultadosTareas{
	width:300px;
	max-height:200px;
	background-color:rgba(255,255,255,1);
	box-shadow:0px 0px 15px #000000;
	text-align:center;
	position:relative;
	overflow:auto;
	padding:5px;
		
}

#imgArribaResult{
	position:absolute;
	width:20px;
	height:10px;
	margin-top:-10px;
	z-index:5;	
}





.grupoMatTarea{
	font-size:18px;
	font-weight:bold;
	padding:5px;	
}

.nombreTar{
	font-size:14px;
	text-align:left;
	padding:5px;	
}

.coloresExp{
	width:10px;
	height:10px;	
}

.btnElimTarea{
	border:0px solid;
	background-color:rgba(255,255,255,1);
	color:rgba(153,153,153,1);
	width:15px;
	height:15px;
	border-radius:10px;
	cursor:pointer;
	float:right;	
}

.btnElimTarea:hover{
	background-color:rgba(255,0,0,1);
	color:rgba(255,255,255,1);
	box-shadow:0px 0px 8px #000000;	
}

.coloresTareas{
	width:15px;
	height:15px;	
}

#colorTarea1{
	background-color:rgba(255,0,0,0.5);
}
#colorTarea2{
	background-color:rgba(255,204,0,0.8);
	display:none;	
}

#colorTarea3{
background-color:rgba(0,153,102,1);
display:none;		
}

#textoInformativoRepresentanteGrupo{
	text-align:left;
	color:rgba(153,153,153,1);
	font-size:16px;
}





